*tags
*.o
*.a
*.log
AUTHORS
COPYING
install
INSTALL
Makefile
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache
revision.h
revision.h.in
revision.h.in~
config.log
config.status
configure
depcomp
buildenv.am
missing
install-sh
stamp-h1
*.deps
*.swp
lib/*
bin/libtbb.so.2
bin/rlwrap
bin/templated
